* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  font-family: "Open Sans", sans-serif;
  color: #1b1f21;
}

.usuario {
  display: flex;
  border-style: solid;
  border-color: #e8ebe4;
  border-width: thin;
  width: 100%;
  justify-content: space-between;
}

.actividadusuario {
  width: 40%;
}

.infousuario h1 {
  font-size: 16px;
}

.infousuario p {
  font-size: 16px;
}

.infousuario {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

.infousuario img {
  width: 30%;
  height: 80%;
  border-radius: 50%;
}

.iconos {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #bec1bb;
}

#punico {
  color: #bec1bb;
  font-size: 12px;
}

/* Contenedor principal */
.main {
  display: flex;
  font-family: "Open Sans", sans-serif;
  color: #1b1f21;
}

/* Contenedor de botón de nuevo chat */
.botonnuevochat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 0; /* Aseguramos que haya espacio alrededor del botón */
}

/* Estilo para el botón */
button {
  background-color: #a491d2;
  color: #e8ebe4;
  font-size: 10px; /* Ajusta el tamaño del texto */
  padding: 10px 30px; /* Ajusta el padding para que sea proporcional */
  width: auto; /* Se ajusta al contenido */
  cursor: pointer;
  display: inline-block; /* Asegura que el botón no se expanda más allá de su contenido */
  transition: background-color 0.3s, color 0.3s; /* Agrega transiciones suaves */
}

/* Estilo al pasar el mouse sobre el botón */
button:hover {
  background-color: #cdc3e6;
  color: white;
}

/* Enfoque al hacer clic en el botón */
button:focus {
  outline: none; /* Elimina el contorno al hacer clic */
  background-color: #bec1bb;
}

/* Ajustes de estilo para los iconos dentro del contenedor */
.iconos {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #bec1bb;
}

.newchat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: thin;
  border-color: #e8ebe4;
  background-color: #e8ebe4;
  width: 70%;
}

.newchat img {
  width: 300px;
}

.titlenew {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 3%;
}

.titlenew h1 {
  margin: auto;
}

.titlenew p {
  margin: auto;
}
